doctype html
html(lang="ru")
    head
        meta(charset = "utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")

        link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&amp;subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&amp;subset=cyrillic" rel="stylesheet") 
        link(href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/css/swiper.min.css")
        
        link(rel="stylesheet", href="css/style.min.css")
        title Test-task
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    body
        .maincontent
            header.header
                .header__top
                    .container
                        .header__top-left
                            nav.nav
                                ul.nav__list
                                    each val in ["О компании", "Портфолио", "Сотрудничество", "Требования  к макету", "Контакты"]
                                        li.nav__item
                                            a.nav__link(href="#" title=`${val}`)= val
                        .header__top-right
                            .favorites Добавить сайт в закладки
                .header__bottom
                    .container.header__container
                        .header__column
                            .logo
                                .logo__pic 
                                    img.img(src="img/logo.png") 
                                span.logo__promo Ваш заказ уже сегодня
                        .header__column 
                            .contacts   
                                a.phone(href="tel:+7 (495) 241-96-37") +7 (495) 241-96-37
                                span.contacts__worktime Пн-Сб 10:00—19:00   Вс — выходной
                                a.link.contacts__email(href="#") 7292554@mail.ru
                        .header__column 
                            .place   
                                span.place__phone Москва, м. Дубровка ул. Шарикоподшипниковская, д. 13
                                a.link.place__link(href="#") Как нас найти
                        .header__column 
                            .order   
                                button.btn.btn--header(type="button") Cрочный заказ
                                a.link.order__link(href="#") Задать вопрос
            section.section.greeting
                .greeting__header
                    ul.menu
                        //- li.menu__item 
                        button.menu__button(type="button") Печатная продукция
                        button.menu__button(type="button") Услуги
                        button.menu__button(type="button") Наружная и интерьерная реклама
                    .menu__hop
                        .menu__container
                            .menu__cell
                                span.menu__subtitle Визитки
                            .menu__cell
                                span.menu__subtitle Календари
                                ul.menu__list
                                        each li in ["Календарь - домик", "Календарь перекидной", "Календарь карманный", "Календарь квартальный", "Календарь отрывной"]
                                            li.menu__item= li
                            .menu__cell
                                span.menu__subtitle Листовки и флаеры
                                ul.menu__list
                                        each li in ["Листовки 100х200", "Листовки А4", "Листовки А5", "Листовки А6"]
                                            li.menu__item= li
                            .menu__cell
                                span.menu__subtitle Буклеты
                                ul.menu__list
                                        each li in ["Буклеты А4", "Буклеты А3"]
                                            li.menu__item= li
                            .menu__cell
                                span.menu__subtitle Меню
                            .menu__cell
                                span.menu__subtitle Брошюры
                                ul.menu__list
                                        each li in ["Брошюры 99х210", "Брошюры А5", "Брошюры 200х200"]
                                            li.menu__item= li
                            .menu__cell
                                span.menu__subtitle Афиши
                                ul.menu__list
                                        each li in ["Афиша А1/А2", "Афиша А3"]
                                            li.menu__item= li
                            .menu__cell
                                span.menu__subtitle Бланки и самокопирующиеся бланки
                                ul.menu__list
                                        each li in ["Бланки А4", "Бланки А5"]
                                            li.menu__item= li
                .greeting__main
                    .greeting__top
                        .container
                            h1.greeting__title Широкоформатная печать
                    .greeting__bottom
                        .greeting__column
                            ul.slide-menu 
                                each item, index in ['Виды печати', 'Стоимость', 'Оплата и доставка', 'Вопрос-ответ', 'Заказать онлайн']
                                    li.slide-menu__item
                                        a.slide-menu__link(href="#" title=`${item}`)= item
                        .greeting__column
                            span.promo Все виды широкоформатной печати
                        .greeting__column
                            ul.types
                                li.types__item Растяжки
                                li.types__item Световые короба
                                li.types__item Вывески
                                li.types__item Штендеры 
                        .greeting__column
                            .greeting__button
                                span.phone.phone--greeting +7 (495) 241-96-37
                                button.btn.btn--greeting(type="button") Оформить онлайн
            section.section.portfolio
                .section__inner
                    h2.section__title Популярные тиражи
                    ul.popular
                        each item, index in ['Растяжки', 'Плакаты', 'Пресс-волы', 'Штендеры', 'Ролл-апы', 'Лайтбоксы', 'Стенды']
                            li.popular__card
                                span.popular__name= item 
                                .popular__pic
                                    img.img(src=`img/${index +1}.png` alt=`${item}`)
                        button.popular__order(type="button")
                            .popular__text Оформить индивидуальный заказ
                            .popular__arrow
            section.section.cost
                .section__inner
                    h2.section__title Стоимость
                    .table.cost__table
                        .table__row.table__header
                            each th in ['Материал', '360 dpi', '540 dpi', '720 dpi', '1440 dpi']
                                .table__cell.table__header-cell= th
                        .table__row
                            each td in ['Китай 440', '240', '250', '250', '645']
                                .table__cell= td
                        .table__row
                            each td in ['Европа 440', '260', '295', '388', '700']
                                .table__cell= td
                        .table__row
                            each td in ['Европа 510', '280', '310', '388', '760']
                                .table__cell= td
                        .table__row
                            each td, index in ['Банерная сетка', '250', '330', '---', '---']
                                if index==2
                                    .table__cell.table__cell--special= td
                                else
                                    .table__cell= td
                        .table__row
                            each td in ['Бумага Ситилайт', '220', '265', '320', '630']
                                .table__cell= td
                        .table__row
                            each td in ['Пленка самоклеющаяся ОРАЖДЕТ', '260', '350', '450', '670']
                                .table__cell= td
                        .table__row
                            each td in ['Пленка перфорированная', '---', '---', '520', '820']
                                .table__cell= td
                        .table__row
                            each td in ['Пленка Бэклит без клеевого слоя', '---', '---', '600', '820']
                                .table__cell= td
                    .table__caption
                        .table__caption-head Дополнительно
                        ul.table__caption-body 
                            li.table__caption-text Стоимость услуг дизайнера (наш дизайнер нарисует для вас макет или доработает ваш макет)
                            li.table__caption-text Стоимость цветопробы 
                    .video
                        .video__pic
                            img.img(src="img/bg-2.png") 
                        .video__text Посмотреть процесс широкоформатной печати
            section.section
                .section__inner
                    .variants
                        .variants__left
                            h2.section__title Варианты оплаты
                            .variants__cards
                                .variants__card
                                    .variants__pic.variants__pic--wallet
                                    .variants__text Оплатить в офисе
                                .variants__card
                                    .variants__pic.variants__pic--sheet
                                    .variants__text Оплатить по расчетному счету
                                .variants__card
                                    .variants__pic.variants__pic--card
                                    .variants__text Оплатить по карте
                                .variants__card
                                    .variants__pic.variants__pic--pointer
                                    .variants__text Оплатить онлайн
                        .variants__right
                            h2.section__title Варианты доставки
                            .variants__cards
                                .variants__card.variants__card--delivery
                                    .variants__pic.variants__pic--clock 
                                    .variants__text.variants__text--delivery Самовывоз из офиса по графику: Пн-Сб: с 10-00 до 19-00
                                .variants__card.variants__card--delivery
                                    .variants__pic.variants__pic--car 
                                    .variants__text.variants__text--delivery Доставка курьером по вашему адресу от 300 руб.
            section.section.questions
                .section__inner
                    h2.section__title Ответы на ваши вопросы
                    ul.questions__list
                        li.questions__item
                            button.questions__button.link(type="button") Как сделать заказ?
                            .questions__answer
                                h3.questions__title Как сделать заказ?
                                button.questions__hide(type="button") свернуть
                                ul.questions__list
                                    li.questions__point У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                                    li.questions__point Лучшие специалисты. Каждый сотрудник нашего центра обладает хорошим опытом и готов приложить максимум усилий для выполнения вашего заказа. Высокая скорость работы.
                                    li.questions__point Благодаря максимальной автоматизации процесса и тщательной подготовке сотрудников все заказы (оперативная цветная печать, изготовление наружной рекламы) выполняются в минимальные сроки.
                        li.questions__item
                            button.questions__button.link(type="button") Вы осуществляете доставку?
                            .questions__answer
                                h3.questions__title Вы осуществляете доставку?
                                button.questions__hide(type="button") свернуть
                                p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах.
                        li.questions__item
                            button.questions__button.link(type="button") Вы разрабатываете дизайн?
                            .questions__answer
                                h3.questions__title Вы разрабатываете дизайн?
                                button.questions__hide(type="button") свернуть
                                p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», – подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем 
                        li.questions__item
                            button.questions__button.link(type="button") Какие способы оплаты?
                            .questions__answer
                                h3.questions__title Какие способы оплаты?
                                button.questions__hide(type="button") свернуть
                                p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», – подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем 
                        li.questions__item
                            button.questions__button.link(type="button") Какие сроки производства?
                            .questions__answer
                                h3.questions__title Какие сроки производства?
                                button.questions__hide(type="button") свернуть
                                p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», – подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем 
                        li.questions__item
                            button.questions__button.link(type="button") Какие требования к макету?
                            .questions__answer
                                h3.questions__title Какие требования к макету?
                                button.questions__hide(type="button") свернуть
                                p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», – подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем 
                        li.questions__item
                            button.questions__button.link(type="button") Как узнать стоимость продукции?
                            .questions__answer
                                h3.questions__title Как узнать стоимость продукции?
                                button.questions__hide(type="button") свернуть
                                p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», – подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем 
                    form.form
                        h2.section__title.form__title Оформить заказ
                        .form__row
                            .form__cell
                                input.form__input(type="text" placeholder="Ваше имя")
                                .form__ok
                            .form__cell
                                input.form__input(type="text" placeholder="Компания")
                                .form__ok
                        .form__row
                            .form__cell
                                input.form__input(type="email" placeholder="Email")
                                .form__ok
                            .form__cell
                                input.form__input(type="phone" placeholder="Телефон *")
                                .form__ok
                        textarea.form__input.form__textarea(rows="3" placeholder="Комментарий")
                        button.form__add(type="button") Прикрепить файл
                        button.btn.form__submit(type="submit") Отправить
            section.section
                .section__inner
                    h2.section__title Остались вопросы?
                    ul.cards
                        li.cards__card
                            span.cards__text Позвоните
                            span.cards__text.cards__text--bold +7 (495) 241-96-37
                            .cards__icon.cards__icon--phone
                            span.cards__text.cards__text--gray или
                            a.cards__link(href="#" title='Закажите обратный звонок') Закажите обратный звонок
                        li.cards__card
                            span.cards__text Напишите на email
                            span.cards__text.cards__text--bold 729554@mail.ru
                            .cards__icon.cards__icon--envelope
                            a.cards__link(href="#" title='Мы ответим в течение часа') Мы ответим в течение часа
                        li.cards__card
                            span.cards__text Приезжайте
                            span.cards__text.cards__text--bold к нам в офис
                            .cards__icon.cards__icon--point
                            a.cards__link(href="#" title='Схема проезда') Схема проезда
            section.section
                .section__inner
                    h2.section__title Портфолио
                    .slider
                        .slider__arrow.slider__arrow--left
                        .slider__arrow.slider__arrow--right
                        .swiper-container
                            ul.slider__list.swiper-wrapper
                                li.slider__item.swiper-slide
                                    img.img(src="img/portfolio-1.png")
                                li.slider__item.swiper-slide
                                    img.img(src="img/portfolio-2.png")
                                li.slider__item.swiper-slide
                                    img.img(src="img/portfolio-3.png")
                                li.slider__item.swiper-slide
                                    img.img(src="img/portfolio-3.png")
                                li.slider__item.swiper-slide
                                    img.img(src="img/portfolio-3.png")
                    .longread
                        .longread__row
                            .longread__cell
                                h3.longread__title Преимущества широкоформатной печати
                            .longread__cell
                                p Когда клиенту понадобится ваш продукт, он извлечет из подсознания яркий плакат, который видел каждый день по дороге на работу, и позвонит вам. Именно так работает широкоформатная печать баннеров.
                                span.longread__subtitle Преимущества технологии:
                                p — Огромные размеры: яркая, заметная реклама формирует имидж компании и повышает узнаваемость бренда.
                                p — Низкая стоимость: реклама на телевидении и в прессе, создание и продвижение сайта стоят дороже.
                                p — Работает круглосуточно: баннер, стенд, перетяжка работают на вас 24 часа в сутки, вне зависимости от погодных условий.
                                p — Большие дизайнерские возможности: широкоформатная печать баннеров позволяет использовать полную гамму цветов, наносить разные полутона и оттенки, создавать градиентную заливку и т.д.
                        .longread__row
                            .longread__cell
                                h3.longread__title Работа с нами
                            .longread__cell
                                span.longread__subtitle Сотрудничать с нами выгодно, потому что:
                                p —  Цена печати – одна из самых низких в столице: если вы ищете изготовление уличной рекламы или печать плакатов дешево, то это к нам.
                                p — Работаем профессионально: подчеркнем корпоративный стиль, сделаем оригинальный дизайн, с помощью современных плоттеров добьемся высочайшего разрешения до 2880 dpi.
                                p — Используем только сертифицированные материалы, чернила без специфического запаха и токсичных выделений.
                                p — Принимаем заказы любого объема: от 1 экземпляра до крупного тиража.
                                p — Делаем продукцию любого размера: технические ограничения отсутствуют.
                                p — Сроки указываете вы: если есть макет, сможете забрать баннер в течение нескольких часов.
                                p — Работаем с сетевиками, корпоративными и индивидуальными заказчиками.
                                p — Привезем продукцию, куда нужно: область доставки – Москва и Подмосковье.
                        .longread__row
                            .longread__cell
                                h3.longread__title Срочная широкоформатная печать
                            .longread__cell 
                                p Для тех, кому нужна продукция в экстренном порядке, у нас есть услуга «срочная широкоформатная печать». Изготовим рекламный продукт к началу выставки, конференции, концерта или другого мероприятия за 1-2 часа.
                        .longread__row
                            .longread__cell
                                h3.longread__title Требования к макетам для широкоформатной печати
                            .longread__cell 
                                p Присылайте готовые макеты на адрес 7292554@mail.ru. Если файл большой, можно использовать файлообменник и отправить ссылку на файл.
                                p Также мы принимаем макеты в офисе компании по адресу г. Москва, ул. Шарикоподшипниковская, д.13, ТЦ «Дубровка». Загрузите файл на USB Flash-карту, USB внешний жесткий диск, DVD, CD.
                                span.longread__subtitle Перед отправкой макета ознакомьтесь с требованиями:
                                p — Оптимальный формат – PDF, TIF. Также принимаем CDR, AI, EPS.
                                p — Сохранение файла с LZW-компрессией. Не подходят программы Autocad, Microsoft Office.
                                p — Каждое изображение для печати в отдельном файле.
                                p — Альфа-каналы и пути отсутствуют.
                                p — Цветовая палитра: CMYK, 8 bits.
                                p — Шрифты в кривых.
                                p — Масштаб 1 к 1, припуски отсутствуют.
                                p — Разрешение: для 360 dpi – до 80 пикселей/дюйм, для 720 dpi – до 150 пикселей/дюйм.
                                p Остались вопросы? Звоните, будем рады помочь!
            footer.footer
                .footer__top
                    .container.footer__container
                        .footer__row
                            .footer__column.footer__column--typo
                                span.footer__title Типография
                                ul.footer__list
                                    each li in ['О компании', 'Оборудование', 'Оплатить заказ', 'Портфолио', 'Доставка', 'Контакты', 'Сотрудничество', 'FAQ', 'Дизайн', 'Требования к макетам']
                                        li.footer__item= li
                            .footer__column
                                span.footer__title Полиграфические услуги
                                .footer__divider
                                    ul.footer__list
                                        each li in ["Визитки ", "Бланки и самокопирующиеся бланки", "Цифровая печать", "Наклейки", "Объемные буквы", "Тампопечать", "Календари", "Ресторанное меню", "Ризография", "Вывески", "Изготовление печатей", "Широкоформатное ламинирование"]
                                            li.footer__item= li
                                    ul.footer__list
                                        each li in ["Листовки и флаеры", "Бумажные пакеты", "Тиснение фольгой", "Растяжки", "Широкоформатная печать", "Штендеры и плоттеры", "Буклеты", "Брошюры", "Авиши", "Световые короба", "Плоттерная резка", "Информационные стенды и таблички"]
                                            li.footer__item= li
                            .footer__column.footer__column--contacts
                                span.footer__title Контакты
                                span.footer__promo «Полиграфия от А до Я» — ваш надежный партнер в сфере маркетинга и рекламы!
                                .contacts.contacts--footer   
                                    span.phone.phone--footer +7 (495) 241-96-37
                                    span.contacts__worktime Пн-Сб 10:00—19:00   Вс — выходной
                                    span.contacts__email 7292554@mail.ru
                                .place.place--footer
                                    span.place__phone Москва, м. Дубровка ул. Шарикоподшипниковская, д. 13
                                    span.place__link Как нас найти
                        .footer__row
                            span.footer__title Мы на карте 
                .footer__map#map
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/js/swiper.min.js")
        script(src="js/script.min.js")
