doctype html
html(lang="ru")
    head
        meta(charset = "utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&amp;subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&amp;subset=cyrillic" rel="stylesheet") 
        link(rel="stylesheet", href="css/style.min.css")
        title Test-task
    body
        .maincontent
            header.header
                .header__top
                    .container
                        .header__top-left
                            nav.nav
                                ul.nav__list
                                    each val in ["О компании", "Портфолио", "Сотрудничество", "Требования  к макету", "Контакты"]
                                        li.nav__item
                                            a.nav__link(href="#" title=`${val}`)= val
                        .header__top-right
                            .favorites Добавить сайт в закладки
                .header__bottom
                    .container
                        .header__column
                            .logo
                                .logo__pic 
                                    img.img(src="img/logo.png") 
                                span.logo__promo Ваш заказ уже сегодня
                        .header__column 
                            .contacts   
                                span.phone +7 (495) 241-96-37
                                span.contacts__worktime Пн-Сб 10:00—19:00   Вс — выходной
                                a.link.contacts__email(href="#") 7292554@mail.ru
                        .header__column 
                            .place   
                                span.place__phone Москва, м. Дубровка ул. Шарикоподшипниковская, д. 13
                                a.link.place__link(href="#") Как нас найти
                        .header__column 
                            .order   
                                button.btn(type="button") Cрочный заказ
                                a.link.order__link(href="#") Задать вопрос
            section.section.greeting
                .greeting__header
                    ul.menu
                        li.menu__item 
                            button.menu__button(type="button") Печатная продукция
                        li.menu__item 
                            button.menu__button(type="button") Услуги
                        li.menu__item 
                            button.menu__button(type="button") Наружная и интерьерная реклама
                .greeting__main
                    .greeting__top
                        .container
                            h1.greeting__title Широкоформатная печать
                    .greeting__bottom
                        .greeting__column
                            ul.slide-menu
                                li.slide-menu__item
                                    a.slide-menu__link(href="#") Стоимость
                                li.slide-menu__item
                                    a.slide-menu__link(href="#") Виды печати
                                li.slide-menu__item
                                    a.slide-menu__link(href="#") Оплата и доставка
                                li.slide-menu__item
                                    a.slide-menu__link(href="#") Вопрос-ответ
                                li.slide-menu__item
                                    a.slide-menu__link(href="#") Заказать онлайн
                        .greeting__column
                            span.promo Все виды широкоформатной печати
                        .greeting__column
                            ul.types
                                li.types__item Растяжки
                                li.types__item Световые короба
                                li.types__item Вывески
                                li.types__item Штендеры 
                        .greeting__column
                            .greeting__button
                                span.phone.phone--greeting +7 (495) 241-96-37
                                button.btn.btn--greeting(type="button") Оформить онлайн
            section.section.portfolio
                .section__inner
                    h2.section__title Популярные тиражи
                    ul.popular
                        each item, index in ['Растяжки', 'Плакаты', 'Пресс-волы', 'Штендеры', 'Ролл-апы', 'Лайтбоксы', 'Стенды']
                            li.popular__card
                                span.popular__name= item 
                                .popular__pic
                                    img.img(src=`img/${index +1}.png` alt=`${item}`)
                        button.popular__order(type="button")
                            .popular__text Оформить индивидуальный заказ
                            .popular__arrow
            section.section.cost
                .section__inner
                    h2.section__title Стоимость
                    .table.cost__table
                        .table__row.table__header
                            each th in ['Материал', '360 dpi', '540 dpi', '720 dpi', '1440 dpi']
                                .table__cell.table__header-cell= th
                        .table__row
                            each td in ['Китай 440', '240', '250', '250', '645']
                                .table__cell= td
                        .table__row
                            each td in ['Европа 440', '260', '295', '388', '700']
                                .table__cell= td
                        .table__row
                            each td in ['Европа 510', '280', '310', '388', '760']
                                .table__cell= td
                        .table__row
                            each td, index in ['Банерная сетка', '250', '330', '---', '---']
                                if index==2
                                    .table__cell.table__cell--special= td
                                else
                                    .table__cell= td
                        .table__row
                            each td in ['Бумага Ситилайт', '220', '265', '320', '630']
                                .table__cell= td
                        .table__row
                            each td in ['Пленка самоклеющаяся ОРАЖДЕТ', '260', '350', '450', '670']
                                .table__cell= td
                        .table__row
                            each td in ['Пленка перфорированная', '---', '---', '520', '820']
                                .table__cell= td
                        .table__row
                            each td in ['Пленка Бэклит без клеевого слоя', '---', '---', '600', '820']
                                .table__cell= td
                    .table__caption
                        .table__caption-head Дополнительно
                        ul.table__caption-body 
                            li.table__caption-text Стоимость услуг дизайнера (наш дизайнер нарисует для вас макет или доработает ваш макет)
                            li.table__caption-text Стоимость цветопробы 
                    .video
                        .video__pic
                            img.img(src="img/bg-2.png") 
                        .video__text Посмотреть процесс широкоформатной печати
            section.section
                .section__inner
                    .variants
                        .variants__left
                            h2.section__title Варианты оплаты
                            .variants__cards
                                .variants__card
                                    .variants__pic.variants__pic--wallet
                                    .variants__text Оплатить в офисе
                                .variants__card
                                    .variants__pic.variants__pic--sheet
                                    .variants__text Оплатить по расчетному счету
                                .variants__card
                                    .variants__pic.variants__pic--card
                                    .variants__text Оплатить по карте
                                .variants__card
                                    .variants__pic.variants__pic--pointer
                                    .variants__text Оплатить онлайн
                        .variants__right
                            h2.section__title Варианты доставки
                            .variants__cards
                                .variants__card
                                    .variants__pic.variants__pic--clock 
                                    .variants__text.variants__text--delivery Самовывоз из офиса по графику: Пн-Сб: с 10-00 до 19-00
                                .variants__card
                                    .variants__pic.variants__pic--car 
                                    .variants__text.variants__text--delivery Доставка курьером по вашему адресу от 300 руб.
            section.section.questions
                .section__inner
                    h2.section__title Ответы на ваши вопросы
                    ul.questions__list
                        li.questions__item
                            .questions__answer
                                h3.questions__title Как сделать заказ?
                                button.questions__hide(type="button") свернуть
                                ul.questions__list
                                    li.questions__point У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                                    li.questions__point Лучшие специалисты. Каждый сотрудник нашего центра обладает хорошим опытом и готов приложить максимум усилий для выполнения вашего заказа. Высокая скорость работы.
                                    li.questions__point Благодаря максимальной автоматизации процесса и тщательной подготовке сотрудников все заказы (оперативная цветная печать, изготовление наружной рекламы) выполняются в минимальные сроки.
                        li.questions__item
                            button.questions__button.link(type="button") Вы осуществляете доставку?
                        li.questions__item
                            button.questions__button.link(type="button") Вы разрабатываете дизайн?
                        li.questions__item
                            button.questions__button.link(type="button") Какие способы оплаты?
                        li.questions__item
                            button.questions__button.link(type="button") Какие сроки производства?
                        li.questions__item
                            button.questions__button.link(type="button") Какие требования к макету?
                        li.questions__item
                            button.questions__button.link(type="button") Как узнать стоимость продукции?




        script(src="js/script.min.js")
